body{
    color: black;
    background-color: white;
    margin-top:120px;
}
.site-header{
    position: fixed;
    top: 0;
    width: 100%;
    padding: 5px;
    background: #333;
    color: #fff;
  }